// custom font, used in header and login page atm
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  box-sizing: border-box;
}

// needed for loading indicator to work
html,
body,
#app {
  height: 100%;
}

html {
  // conversion to use rem units more easily (1 rem = 10 px after 62.5% conversion)
  font-size: 62.5%;
}

body {
  color: $off-black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', Helvetica, Arial, sans-serif;
  font-size: $font-size-p;
  line-height: 1.4;
}

h2,
h3,
p,
ul {
  margin: 0;
}

a {
  color: $off-black;
}

// custom spinner to show as soon as possible
.loader {
  border: $xs-size solid $off-black;
  border-top: $xs-size solid white;
  border-radius: 50%;
  width: $xl-size;
  height: $xl-size;
  animation: spin 1s linear infinite;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
